body{
  background-color: cornflowerblue;
  text-align: center;
}

.order{
  width:50px;
  height:50px;
}

button, a{
  width:100px;
height:50px;
  font-weight:bold;
  background-color:rgb(88, 73, 137);
  color:black;
}

a:hover{
  background-color:rgb(11, 73, 137);
  color:darkblue;
}
a:visited{
    background-color:rgb(88, 73, 137);
  color:black;
}
