body{
  background-color: cornflowerblue;
  text-align: center;
}

img{
  width:20%;
  height:20%;
}

button, a{
  width:100px;
height:50px;
  font-weight:bold;
  background-color:rgb(88, 73, 137);
  color:black;
}

a:link button{
  background-color:rgb(88, 73, 137);
  color:black;
}
a:hover button{
  background-color:rgb(11, 73, 137);
  color:darkblue;
}
a:visited button{
    background-color: #9f5aed;
    color: #ffccfc;
}
